input {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 12px;
  }
  .first-name {
    width: 110px;
  }

  .last-name {
    width: 110px;
  }

  .email {
    display: block;
    width: 260px;
  }

  .sign-up {
    background-color: rgb(4, 107, 224);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 295px;
    cursor: pointer;
  }